<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{%  static  'style.css'  %}">
    <title>Photo Album</title>
</head>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="card">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">All</li>
                        {% for category in categories %}
                        <li class="list-group-item">{{ category.name }}</li>
                        {% endfor %}
                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm">Add Photo</a>
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbnail" src="{{ photo.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{ photo.category }}</p>
                            </div>
                            <a class="btn btn-outline-dark btn-sm m-1" href="{% url 'photo' photo.id %}">View</a>
                        </div>
                    </div>
                    {% empty %}
                    <h3>No Photos...</h3>
                    {% endfor %}
                    
                    
                    
                    
                    
                </div>
            </div>

        </div>
    </div>
</body>
</html>